[submodule "src/runtime/container/wubucontainer"]
	path = src/runtime/container/wubucontainer
	url = https://github.com/waefrebeorn/WuBuContainer
[submodule "src/brain"]
	path = src/brain
	url = https://github.com/waefrebeorn/wubuwizard.git

