[Desktop Entry]
Version=1.0
Type=Application
Name=WuBuOS Text Editor
Comment=Simple text editor
Exec=wubu-text-editor %f
Icon=text-editor
Terminal=false
Categories=Utility;TextEditor;
MimeType=text/plain;text/markdown;text/x-csrc;text/x-chdr;text/x-c++src;text/x-python;text/javascript;text/html;text/css;application/json;application/xml;
StartupNotify=true